@model GameDemo.Models.Msg

@using GameDemo.Models

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
	<div id="clink">
		<img src="~/img/icon_home2.png" />
		<a href="/Home/Index">首页</a> >> 
		<a href="/Msg/Index">信息管理首页</a> >> 信息详情
	</div>

	<div style="text-align:center;font-size:30px">
		<div>
			<span>@Model.MsgTitle</span>
		</div>
		<div>
			<img src="~/img/icon_author.png" />
			<span>@Model.Account.AccountName</span>
			<img src="~/img/icon_clock.png" />
			<span>@Model.MsgTime</span>
			<img src="~/img/icon_hit.png" />
			<span>@Model.MsgHit</span>
		</div>

		<div>
			<img src="@Model.MsgPhoto" style="height:200px;width:200px;"/>
		</div>
		<div>
			<span>@Model.MsgText</span>
		</div>
	</div>
</div>