@Model List<GameDemo.Models.Msg>
@using GameDemo.Models
@{
    ViewBag.Title = "信息管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content">
	<div id="clink">
		<img src="~/img/icon_home2.png" />
		<a href="/Home/Index">首页</a>
		<a href="/Msg/Index">信息管理</a>
		<a href="/Msg/Create">新增信息</a>
	</div>

	<hr />
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>标题</th>
				<th>类型</th>
				<th>图片</th>
				<th>作者</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td>@item.MsgTitle</td>
				<td>@item.MsgType</td>
				<td><img src="@item.MsgPhoto" style="height:50px;width:50px"></td>
				<td>@item.Account.AccountName</td>
				<td>
					@Html.ActionLink("删除", "Delete", "Msg", new { Msg_id = item.MsgID }, new { @class = "btn btn-default",onclick="return confirm('你确定要删除吗？')" })
					<a href="/Msg/Detail/?Msg_id=@item.MsgID" class="btn btn-default">详情</a>
					@Html.ActionLink("编辑", "Edit", "Msg", new { Msg_id = item.MsgID }, new { @class = "btn btn-default" })
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>

